<div class="alert alert-danger alert-dismissible show message-alert" role="alert">
    <strong>Dəyişiklikləri saxlamaq mümkün deyil!</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<script>
    setTimeout(function () {
        $(".message-alert").alert('close');
    }, 3000);
</script>