@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">Welcome to Exam Program</h1>
</div>

<div >
    <ul class="navbar-nav d-flex justify-content-around" style="flex-direction:unset!important">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Lesson" asp-action="Index">Dərslər</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Student" asp-action="Index">Şagirdlər</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Exam" asp-action="Index">İmtahanlar</a>
        </li>
    </ul>
</div>
    